<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">

    <!-- Sidebar on click -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">
            Close
            <i class="fa fa-remove"></i>
          <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">
                Close
                <i class="fa fa-remove"></i>
            </a>
            <a href="#" class="w3-bar-item w3-button">Link 1</a>
            <a href="#" class="w3-bar-item w3-button">Link 2</a>
            <a href="#" class="w3-bar-item w3-button">Link 3</a>
            <a href="#" class="w3-bar-item w3-button">Link 4</a>
            <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>

    <!-- Image Header -->
    <div class="w3-display-container w3-animate-opacity">
        <img src="~/Images/avcol.jpg" alt="Avondale College" style="width:100%;min-height:350px;max-height:600px;">
        <div class="w3-container w3-display-bottomleft w3-margin-bottom">
            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">Welcome to Avondale College</button>
        </div>
    </div>

    <!-- Team Container -->
    <div class="w3-container w3-padding-64 w3-center" id="team">
        <h2>OUR TEAM</h2>
        <p>Meet the team:</p>

        <div class="w3-row">
            <br>

            <div class="w3-half">
                <img src="~/Images/principle.jpg" alt="Principle" style="width:45%" class="w3-circle w3-hover-opacity">
                <h3>lyndy Watkinson</h3>
                <p>Principle</p>
            </div>

            <div class="w3-half">
                <img src="~/Images/dean.jpg" alt="Dean" style="width:65%" class="w3-circle w3-hover-opacity">
                <h3>Our </h3>
                <p>Dean</p>
            </div>
         </div>
       </div>

    <!-- Work Row -->
    <div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

        <div class="w3-center">
            <h2>About Us</h2>
            <p>
                Avondale College is a high performing, diverse, co-educational secondary school located ten minutes from central Auckland. Our school motto, Kohia ngā Taikākā, establishes our commitment to provide opportunities for all students to strive for academic, sporting and creative excellence, within an aspirational and caring environment.
                Our HEART values: Honesty, Endeavour, Atawhai, Respect and Tenacity, provide the foundation for our community. These shared values are the basis for student-focused relationships which allow our large school to have a strong family feel.
                Students are at the HEART of all that we do, and our committed, expert teachers work to support students to reach their potential both within and beyond the classroom. Through our teaching and learning programmes, students are encouraged to communicate effectively, work independently, question, inquire and develop creative solutions.
                Avondale College students consistently achieve excellent academic results, across all areas of the school.
            </p>
            <h2>Event</h2>
        </div>
        <div class="w3-quarter">
            <div class="w3-card w3-white">
                <img src="~/Images/dance.jpg" alt="Dance Encore" style="width:100%">
                <div class="w3-container">
                    <h3>Dance Encore</h3>
                    <h4>Thu 22 OCT</h4>
                    <p>
                        The evenings were a vibrant celebration of dance and showcased not just the work that has taken place in the classroom this year, but also 11 co-curricular groups, and items from guest choreographers Christopher Ofanoa, Xavier Breed, Baileigh Greaves, Desney Fritz, Otis Donovan-Herring, Kate Littlejohn and Gemma-Jayde Naidoo, as well as a high-energy performance by the Saintz Dance Academy.
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-card w3-white">
                <img src="~/Images/grace.jpg" alt=" Grace Nweke" style="width:100%">
                <div class="w3-container">
                    <h3>Grace selected for Silver Ferns!</h3>
                    <h4>Grance Nweke</h4>
                    <p>
                        Just one year ago, Grace Nweke was wearing the Avondale College black dress on the netball court. Next month, she will put on another black dress - this time with a silver fern on the front! The 18-year-old has been selected for our national team to play in the Cadbury Netball series next week. It is the latest highlight in Grace's meteoric rise through the netball ranks in recent months, with her performances in the goal of Auckland's Northern Mystics earning her much well-deserved recognition, despite her age.
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-card w3-white">
                <img src="~/Images/ball.jpg" alt="Party" style="width:100%">
                <div class="w3-container">
                    <h3>School Ball cancelled</h3>
                    <h4>We are very sorry...</h4>
                    <p>
                        In light of ongoing COVID-19 restrictions in Auckland we regret that this year’s ball has been cancelled. We have made this decision with great reluctance and after a number of other contingency plans were thoroughly explored. We understand this will be a disappointment, especially to the year 13 students who have contributed significant time to plan this event, and we hope that by focussing on what is ahead, students can find other ways to celebrate their successes, relationships and growth during their time at the College.


                        Any payments already made for the ball to the College will be refunded. Parents have been sent an e-form to fill out indicating how they want the refund to be made, or students can get a paper copy of the form from their deans.


                        We regret this cancellation and value our community's understanding and support.
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-card w3-white">
                <img src="~/Images/business.jpg" alt="Business Avcol Student" style="width:100%">
                <div class="w3-container">
                    <h3>Business students make the finals of Young Enterprise competition</h3>
                    <h4>23 OCT</h4>
                    <p>
                        An entrepreneurial group of Avondale College Business students have made an impression at the Young Enterprise competition, gaining selection as finalists in the West Auckland region, and winning two awards in the regional finals.
                        We are an environmentally sustainable brand that has introduced a vegan milk chocolate to the market while also trying to reduce plastic packaging by creating a seed infused paper sleeve to wrap our chocolates in.
                        This was particularly difficult in the lockdown because we couldn't buy ingredients as often to trial every recipe.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Container -->
    <div class="w3-container" style="position:relative">
        <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
           style="position:absolute;top:-28px;right:24px">+</a>
    </div>
    <!-- Contact Container -->
    <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
        <div class="w3-row">
            <div class="w3-col m5">
                <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
                <h3>Address</h3>
                <p>51 Victor Street, Avondale, Auckland 1026</p>
                <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Auckland, New Zealand</p>
                <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +64 9 828-7024 </p>
                <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i> admin@avcol.school.nz</p>
            </div>
            <div class="w3-col m7">
                <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
                    <div class="w3-section">
                        <label>Name</label>
                        <input class="w3-input" type="text" name="Name" required>
                    </div>
                    <div class="w3-section">
                        <label>Email</label>
                        <input class="w3-input" type="text" name="Email" required>
                    </div>
                    <div class="w3-section">
                        <label>Message</label>
                        <input class="w3-input" type="text" name="Message" required>
                    </div>
                    <input class="w3-check" type="checkbox" checked name="Like">
                    <label>I Like it!</label>
                    <button type="submit" class="w3-button w3-right w3-theme">Send</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Image of location/map -->
    <img src="~/Images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%;">

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
        <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-teal" href="facebook.com" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
        <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        <p>Powered by Somsana's Big Brain</p>

        <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
            <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
            <a class="w3-button w3-theme" href="#myPage">
                <span class="w3-xlarge">
                    <i class="fa fa-chevron-circle-up"></i>
                </span>
            </a>
        </div>
    </footer>

    <script>
        // Script for side navigation
        function w3_open() {
            var x = document.getElementById("mySidebar");
            x.style.width = "300px";
            x.style.paddingTop = "10%";
            x.style.display = "block";
        }

        // Close side navigation
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

</body>
</html>