<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        font-family: "Times New Roman", Georgia, Serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>
<body>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
        <img src="~/Images/math.jpeg" alt="Math" style="width:100%" class="w3-hover-opacity">
        <div class="w3-display-bottomleft w3-padding-large w3-opacity">
            <h1 class="w3-xxlarge">Welcome Math</h1>
        </div>
    </header>

    <!-- Page content -->
    <div class="w3-content" style="max-width:1100px">

        <!-- Mathex Section -->
        <div class="w3-row w3-padding-64" id="Mathex ">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="~/Images/Mathex.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
            </div>

            <div class="w3-col m6 w3-padding-large">
                <h1 class="w3-center">Mathex</h1><br>
                <h5 class="w3-center">On 13 November 2020</h5>
                <p class="w3-large">
                    he competition starts at 7.00pm; doors open at 6.30pm.
                    Please do not ask teams to arrive before this time, as entry is not permitted.
                    Teacher markers to be present by 6.30pm please.
                    There is no restriction on spectator numbers. Family and friends are all welcome.
                    Cushions and warm clothing are recommended for spectators.
                </p>
            </div>
        </div>

        <hr>



        <!-- End page content -->
    </div>
</body>
</html>
